* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: rgba(46, 47, 66, 1);
  line-height: 1.5;
}

.back-link {
  text-transform: uppercase;
}

.back-link a::before {
  content: 'â† ';
}

.back-link a:active,
.back-link a:visited,
.back-link a:hover,
.back-link a:focus,
.back-link a {
  text-decoration: none;
  color: #333;
}

ul,
ol {
  list-style-type: none;
}

button {
  cursor: pointer;
}

.common-input {
  display: inline-flex;
  padding-left: 8px;
  width: 360px;
  height: 40px;
  border: 1px solid rgba(128, 128, 128, 1);
  border-radius: 4px;
  align-items: center;
}

.common-input:active,
.common-input:hover,
.common-input:focus {
  border-color: black;
  outline: none;
}

.common-button {
  padding: 8px 16px;
  color: #fff;
  background-color: rgba(78, 117, 255, 1);
  border: none;
  border-radius: 8px;
  width: fit-content;
}

/* #region TASK 1 */
#categories {
  width: fit-content;
}
#categories > li {
  margin-bottom: 24px;
  background-color: rgba(246, 246, 254, 1);
  border-radius: 8px;
  width: fit-content;
  padding: 16px;
}

#categories > li > h2 {
  margin: 0px 0px 16px 0px;
}

#categories ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* #endregion TASK 1 */

/* #region TASK 2 */
.gallery {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 48px;
  align-items: center;
  justify-content: center;
}
.gallery-image {
  width: 360px;
  height: 300px;
  object-fit: cover;
}
/* #endregion TASK 2 */

/* #region TASK 4 */
.login-form {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: #fff;
  width: fit-content;
  margin: auto;
  border-radius: 8px;
}

.login-form .common-input {
  display: flex;
  flex-direction: column;
  margin: 8px 0px;
}

.login-form button {
  margin-top: 8px;
}
/* #endregion TASK 4 */

/* #region TASK 5 */
.widget {
  padding: 88px 100px;
  margin: auto;
  width: fit-content;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-back {
  background-color: #fff;
  border-radius: 4px;
  width: fit-content;
  padding: 2px 4px;
}

/* #endregion TASK 5 */

/* #region TASK 6 */

.grey-section {
  padding: 32px;
  margin: auto;
  width: fit-content;
  min-width: 450px;
  background-color: rgba(246, 246, 254, 1);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 16px;
}

#controls input {
  width: fit-content;
  padding: 8px 72px;
}

button[data-destroy] {
  background-color: rgba(255, 78, 78, 1);
}

#boxes {
  display: flex;
  flex-wrap: wrap;
}
/* #endregion TASK 6 */
