* {
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

.gallery {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 1200px;
}
.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.2s;
}

.gallery-image:hover {
  cursor: pointer;
  transform: scale(1.05);
}
